version: "3.9"

services:
  frontend:
    build:
      context: ./naviSafe-frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    volumes:
      - ./naviSafe-frontend:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - backend

  backend:
    build:
      context: ./naviSafe-backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    command: java -jar app.jar
